/* Base variables */
$z-index-xs: 1;
$z-index-tiny: 2;
$z-index-base: 5;
$z-index-max: 10;

/* Variable for common-component: TextArea */
$textarea-height-md: 150px;

/* Variable for common-component: Input */
$input-height-sm: 30px;

/* Variable for component Popup */
$popup-width-xl: 500px;

/* Variable for component Static Image */
$image-width-sm: 100px;
$image-height-sm: 100px;

/* Variable for common-component: Button */
$button-width: 185px;

/* Variable for component: Form */
$form-width: 500px;
$form-height: 500px;

/* Variable for Icon */
$icon-width-sm: 40px;
$icon-height-sm: 40px;

/* Variable for search input */
$search-input-width: 400px;

/* Variable for Avatar */
$avatar-width: 36px;
$avatar-height: 36px;

/* Variable for padding */
$padding-none: 0;
$padding-sm: 5px;
$padding-md: 10px;
$padding-lg: 20px;
$padding-xl: 30px;
$padding-xxl: 50px;

/* Variable for margin */
$margin-none: 0;
$margin-sm: 5px;
$margin-md: 10px;
$margin-lg: 20px;
$margin-xl: 30px;
$margin-hg: 50px;
